vendor
node_modules
.git
.gitignore
.github
.editorconfig
.styleci.yml
.env
.env.backup
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.md
phpunit.xml
tests
